[General]
Callsign=N0CALL G

[Radio]
# Hertz
RXFrequency=435000000
TXFrequency=435000000
# Power dbm
Power=5.5
AFC=false
FrequencyCorr=0
Duplex=false

[Reflector]
Name=RN1ADJ
Address=relay.n1adj.net
# Name=M17-TAE
# Address=24.92.53.66
# Port=17000
# Module=B
# Hostfile lookup?

[Log]
# Logging levels: ERROR, INFO, DEBUG
Level=DEBUG
# Rotation?

[Modem]
Port=/tmp/modem.sock
Speed=460800
NRSTPin=17
PAEnablePin=18
Boot0Pin=27
